/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Variables */
:root {
	--black: #2d2924;
	--parchment: #F1E9D2;
  --color10: hsl(31, 80%, 10%);
  --color30: hsl(31, 80%, 30%);
  --color90: hsl(31, 80%, 90%);
  --color100: hsl(31, 80%, 100%);
  --accent: hsl(31, 80%, 70%);
  --ff: "Roboto Mono", monospace;
  --p: 1rem/1.5em var(--ff);
  --h1: 600 3rem/1.2em var(--ff);
  --h2: 600 2rem/1.2em var(--ff);
  --spacing4: 4px;
  --spacing8: 8px;
  --spacing16: 16px;
  --spacing20: 20px;
  --spacing40: 40px;
  --spacing80: 80px;
  --spacing160: 160px;
}

/* Global Styles */
html {
  scroll-behavior: smooth;
}
body {
  text-wrap: balance;
  font: var(--p);
  background: var(--parchment);
  color: var(--black);
}
a {
  color: var(--black);
  text-decoration: none;
	border: 1px solid var(--parchment);
	padding: var(--spacing4);
}
a:hover {
  border: 1px solid var(--black);
	padding: var(--spacing4);
}
a:active {
	background-color: var(--black);
}
button {
	border: none;
	background-color: transparent;
	border: 1px solid var(--parchment);
	padding: var(--spacing4);
}
button:hover {
	border: 1px solid var(--black);
	padding: var(--spacing4);
}
button:active {
	background-color: var(--black);
}
img {
  width: 100%;
}

/* header */
header {
  width: 90%;
  max-width: 1080px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  padding: var(--spacing20) 0;
}

nav {
  display: flex;
  align-items: center;
  gap: var(--spacing40);

	.theme-toggle {
		margin: 6px var(--spacing4) var(--spacing4) var(--spacing4);
		padding: 6px 4px 0 4px;
	}
}
/* .ham {
  display: none;
  width: 20px;
} */
@media (max-width: 750px) {
  /* .ham {
    display: block;
  } */
  nav {
    gap: var(--spacing20)
  }
  /* nav.show { */
    /* display: flex;
    flex-direction: column;
    position: absolute;
    top: var(--spacing80);
    right: 0px;
    background: var(--accent);
    padding: var(--spacing20);
    gap: var(--spacing20);
    border-radius: var(--spacing8); */
  /* } */
}

/* utility */

.hidden {
	display: none;
}

/* .dark-mode */

.dark-mode {
	background: var(--black);
	color: var(--parchment);

	a {
		color: var(--parchment);
		border: 1px solid var(--black);
	}
	a:hover {
		border: 1px solid var(--parchment);
		padding: 4px;
	}
	a:active {
		background-color: var(--parchment);
	}

	button {
		border: none;
		background-color: transparent;
		border: 1px solid var(--black);
		padding: 6px 4px 4px;
	}
	button:hover {
		border: 1px solid var(--parchment);
		padding: 6px 4px 4px;
	}
	button:active {
		background-color: var(--parchment);
	}
	.material-symbols-outlined.custom { color: var(--parchment); }
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 1,
  'wght' 200,
  'GRAD' 0,
  'opsz' 24
}
.material-symbols-outlined.custom { color: var(--black); }