/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Variables */
:root {
	--black: #2d2924;
	--parchment: #F1E9D2;

	--primary: var(--parchment);
	--accent: var(--black);

  --ff: "Roboto Mono", monospace;

  --p: 1rem/1.5em var(--ff);
  --h1: 600 3rem/1.2em var(--ff);
  --h2: 600 2rem/1.2em var(--ff);
	
  --spacing4: 4px;
  --spacing8: 8px;
  --spacing16: 16px;
  --spacing20: 20px;
  --spacing40: 40px;
  --spacing80: 80px;
  --spacing160: 160px;
}

/* Global Styles */
html {
  scroll-behavior: smooth;
}
body {
  text-wrap: balance;
  font: var(--p);
  background: var(--primary);
  color: var(--accent);
}
a {
  color: var(--accent);
  text-decoration: none;
	border: 1px solid var(--primary);
}
a:hover {
  border: 1px solid var(--accent);
}
a:active {
	background-color: var(--accent);
}
button {
	background-color: transparent;
	color: var(--accent);
	border: 2px solid var(--primary);
	margin: var(--spacing8) 0 0 0;
}
button:hover {
	border: 2px solid var(--accent);
}
.title::after {
	content: 'michael_gowdy';
}
.title:hover::after {
	content: 'ydwog_leahcim'
}
.work::after {
	content: 'work';
}
.work:hover::after {
	content: 'krow';
}
.contact::after {
	content: 'contact';
}
.contact:hover::after {
	content: 'tcatnoc';
}
t-main-section {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	margin: calc(100dvh / 4) 0 var(--spacing40) 0;
	
	img {
		width: 128px;
		height: 128px;
		image-rendering: pixelated;
		margin: 0 0 var(--spacing20) 0;
	}
}

/* header */
header {
  width: 90%;
  max-width: 1080px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  padding: var(--spacing20) 0;
}

nav {
  display: flex;
  align-items: center;
  gap: var(--spacing40);

	.theme-toggle {
		margin: 6px var(--spacing4) var(--spacing4) var(--spacing4);
		padding: 6px 4px 0 4px;
	}
}
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 1,
  'wght' 200,
  'GRAD' 0,
  'opsz' 24
}
.material-symbols-outlined.custom { color: var(--accent); }

@media (max-width: 750px) {
  nav {
    gap: var(--spacing20)
  }
}

/* utility */

.hidden {
	display: none;
}

/* .dark-mode */

/* @media (prefers-color-scheme: dark) {
	:root {
		--primary: var(--black);
		--accent: var(--parchment);
	}
} */

.dark-mode {
	background: var(--accent);
	color: var(--primary);

	a {
		color: var(--primary);
		border: 1px solid var(--accent);
	}
	a:hover {
		border: 1px solid var(--primary);
	}
	a:active {
		background-color: var(--primary);
	}
	nav {
		.theme-toggle {
			margin: 6px var(--spacing4) var(--spacing4) var(--spacing4);
			padding: 6px 4px 0 4px;
		}
	}
	.material-symbols-outlined.custom { color: var(--primary); }
}